.text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 710px;
  height: 300px;
  margin: 40px auto;
  padding: 10px;
}

.textarea {
  width: 453px;
  height: 300px;
  resize: none;
  overflow: auto;
  border: 2px solid #006d77;
  border-radius: 5px;
  background-color: #f4f9fa;
  font-family: 'Mulish', sans-serif;
  font-size: 18px;
  color: #006d77;
}

.textarea:focus {
  outline: none;
}

.note {
  width: 30%;
  height: 100%;
  padding: 20px;
  background-image: url(./note.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.note p {
  margin: 70px 40px;
  font-family: 'Gochi Hand', cursive;
  font-size: 20px;
  color: #006d77;
}

.keyboard-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 710px;
  height: 300px;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #006d77;
  border-radius: 5px;
  background-color: #f0f8fb;
}

.keyboard__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6px;
  width: 100%;
  height: 40px;
}

.keyboard__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #006d77;
  border-radius: 50%;
  background-color: #83c5be;
  font-family: 'Mulish', sans-serif;
  font-size: 20px;
  color: #006d77;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.keyboard__btn:hover {
  cursor: pointer;
}

.keyboard__btn_comand_big {
  width: 90px;
  border-color: #e29578;
  border-radius: 20px;
  background-color: #ffddd2;
  font-size: 16px;
}

.keyboard__btn_comand_small {
  border-color: #e29578;
  background-color: #ffddd2;
  font-size: 16px;
}

.keyboard__btn_space {
  width: 327px;
  border-radius: 20px;
}

.keyboard__btn_caps,
.keyboard__btn_pressed {
  background-color: rgba(226, 149, 120, 0.6);
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.6);
}
